* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Inter', sans-serif;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.welcome {
  font-size: 20px;
  color: #28352f;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  background-image: url("images/header-background.svg");
  background-repeat: no-repeat;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.h1-blue {
  color: #172b4d;
}

.h1-green {
  color: #36b37e;
}

.text {
  font-weight: normal;
  font-size: 20px;
  padding: 28px;
  padding-top: 57px;
  text-align: center;
}

.social {
  padding-top: 30px;
  padding-bottom: 65px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  color: #505f79;
  font-size: 20px;
}

.works-container{
  display: grid;
  justify-content: center;
}

.works-header{
  background: none;
}

.cards{
  display: flex;
  flex-direction: column;
  height: 50px;
  background: #EBF0EE;
  border-radius: 8px;
  border: 1px solid #D0D9D4;
  width: 327px;
  height: 474px;
}

.cards-container{
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  row-gap: 17px;
  padding-top: 50px;
}

.card-space{
  flex-grow: 1;
}

.card-info{
  background-color: white;
  width: 100%;
  height: 222px;
  border-radius: 8px;
}