*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Inter', sans-serif;
}
.toolbar{
  display: flex;
  justify-content: space-between;
  padding: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.welcome{
  font-size: 20px;
  color: #28352F;
  font-weight: 600;
}
